/* Colors */

$valencia: #D63031;
$punch: #DC3545;
$cinnabar: #E94849;
$pomegranate: #F22613;
$pot-pourri: #F6E5E5;
$eucalyptus: #28a745;
$malachite: #00E640;
$black: #000;
$mine-shaft--darker: #303030;
$mine-shaft: #3C3C3C;
$tundora: #4A4A4A;
$raven: #787E8C;
$santas-gray: #9EA0A5;
$alto: #D8D8D8;
$athens-gray: #E5E9ED;
$gallery: #EEE;
$wild-sand: #F5F5F5;
$alabaster--darker: #F7F7F7;
$alabaster: #FAFAFA;
$white: #FFF;