/* Font Size */

@mixin font-size($size) {
    font-size: ($size / 16px) * 1rem;
}


/* Border Radius */

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-bottom-left-radius($radius) {
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-bottom-left-radius: $radius;
    -ms-border-bottom-left-radius: $radius;
    -o-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin border-bottom-right-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-bottom-right-radius: $radius;
    -ms-border-bottom-right-radius: $radius;
    -o-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
}

@mixin border-top-left-radius($radius) {
    -webkit-border-top-left-radius: $radius;
    -moz-border-top-left-radius: $radius;
    -ms-border-top-left-radius: $radius;
    -o-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
}

@mixin border-top-right-radius($radius) {
    -webkit-border-top-right-radius: $radius;
    -moz-border-top-right-radius: $radius;
    -ms-border-top-right-radius: $radius;
    -o-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
}


/* Placeholder */

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &::-ms-input-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::placeholder {
        @content;
    }
}


/* Display Flex */

@mixin flexible-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexible-align-center {
    display: flex;
    align-items: center;
}

@mixin flexible-align-end {
    display: flex;
    align-items: flex-end;
}

@mixin flexible-justify-center {
    display: flex;
    justify-content: center;
}

@mixin flexible-align-start {
    display: flex;
    justify-content: flex-start;
}


/* Text Wrap */

@mixin text-shorten {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Same Width/Height */

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin max-size($width, $height: $width) {
    max-width: $width;
    max-height: $height;
}


/* Push Auto*/

@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}


/* Define vertical, horizontal, or both position */

@mixin center($position) {
    position: absolute;
    @if $position=='vertical' {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @else if $position=='horizontal' {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translate(-50%);
    }
    @else if $position=='both' {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}


/* Position Absolute */

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}


/* Opacity */

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}